:root {
    --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    background-color: #22222F;
    letter-spacing: .1em;
    text-align: justify
}

p {
    font-size: larger;
}

hr {
    border-color: white
}

.text {
    padding: 0, 5px, 0, 5px;
}